body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar-color {
  background-color: #4d41c7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icono-carrito {
  color: #ffffff;
  transition: ease 300ms;
}
.icono-carrito:hover {
  color: #3cefab;
}

.item-count-carrito {
  max-width: 320px;
  padding: 0.5em 0.5em 0em 0.5em;
  margin-bottom: 0.5em;
  /*box-shadow: 1px 1px 17px #cccccc;*/
}

.btn-form-input {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: transparent;
  color: #333333;
  border: 1px solid #ced4da;
}
.btn-form-agregar {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #4d41c7;
  color: #ffffff;
}
.btn-form-agregar:hover {
  transition: ease 300ms;
  box-shadow: 1px 1px 17px #e4e4e4;
  background-color: #3f35b1;
  color: #ffffff;
}
.btn-carrito {
  transition: ease 300ms;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #ffffff;
  border: 2px solid #03A9F4;
  color: #03A9F4;  
}
.btn-carrito:hover {
  box-shadow: 1px 1px 17px #e4e4e4;
  background-color: #03A9F4;
  border: 2px solid #03A9F4;
  color: #ffffff;  
}
.btn-vaciar-carrito {
  transition: ease 300ms;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #ffffff;
  border: 2px solid #ff7300;
  color: #ff7300;  
}
.btn-vaciar-carrito:hover {
  box-shadow: 1px 1px 17px #e4e4e4;
  background-color: #ff7300;
  border: 2px solid #ff7300;
  color: #ffffff;  
}
.btn-remove {
  transition: ease 300ms;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #e43a2e;
  border: 2px solid #e43a2e;
  color: #ffffff;     
}
.btn-remove:hover {
  box-shadow: 1px 1px 17px #e4e4e4;
  background-color: #ffffff;
  border: 2px solid #e43a2e;
  color: #e43a2e;   
}
.btn-detalle {
  transition: ease 300ms;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #ffffff;
  border: 2px solid #4d41c7;
  color: #4d41c7;  
}
.btn-detalle:hover {
  box-shadow: 1px 1px 17px #e4e4e4;
  background-color: #4d41c7;
  border: 2px solid #4d41c7;
  color: #ffffff;  
}
.btn-form-input:hover {
  transition: ease 300ms;
  box-shadow: 1px 1px 17px #e4e4e4;
}
.form-input-number {
  text-align: center;
  margin-left: .2em;
  margin-right: .2em;
  color: #333333;
}
.stock-disponible { 
  color: #181818;
  font-size: 0.75em;
  font-weight: bold;
}
.imagen-producto-list {
  top: 50%;
  left: 50%;
  max-width: 100%;
  padding: 0.2em;
  
}
.imagen-producto-detail {
  top: 50%;
  left: 50%;
  max-width: 100%;
  padding: 0.2em;
}
.imagen-producto-carrito {
  top: 50%;
  left: 50%;
  max-width: 80%;
  padding: 0.2em;
}
.vista-productos {
  box-shadow: 1px 1px 17px #e4e4e4;
  padding: 1em;
  margin-bottom: 0.5em;
}

.titulo-producto {
  font-weight: bold;
  color: #4d41c7;
  font-size: 1.6em;
}

.navbar-dark .navbar-brand {
  color: #fff;
  font-weight: bold;
  border-left: 0.2em solid #ff7300;
  padding: 0.5em;
}
.description-producto {
  color: #8e8e8e;
  font-size: 0.95em;
  padding: 0.5em;
}
.items-en-carrito {
  color: #ffffff;
  margin: 0.5em;
}

.items-agregados {
  box-shadow: 1px 1px 17px #e4e4e4;
  padding: 1em;
  margin-bottom: 0.5em;
  list-style: none;
}

.titulos-items-agregados {
  font-size: 0.85em;
}